{% extends "GlobalBundle:Client/Layout:layout.html.twig" %}

{% block metaTitle %}{{ 'diaporama.client.manager.metatitle'|trans }}{% endblock %}
{% block metaDescription %}{{ 'diaporama.client.manager.metadescription'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'diaporama.client.manager.title'|trans }}</h1>

    <div class="recherche">
        <form action="{{ path('client_diaporama_manager') }}" method="post">

            <select name="categorie">
                <option value="">{{ 'diaporama.client.label.categorieall'|trans }}</option>
                {% for categorie in categories %}
                    {% if recherches.categorie == categorie.id %}
                        <option value="{{ categorie.id }}" selected>{{ categorie.nom }}</option>
                    {% else %}
                        <option value="{{ categorie.id }}">{{ categorie.nom }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <button type="submit" name="addRecherche"><i class="fa fa-search"></i></button>
        </form>
    </div>

    <div class="diaporamas">

        {% for galerie in pagination %}
            <div class="galerie">
                <div class="galerieTitre">
                    <h3><a href="{{ path('client_diaporama_view',{'slug': galerie.slug, 'id': galerie.id})}}">{{ galerie.titre|truncate(30) }}</a></h3>
                </div>

                {% if galerie.image %}
                    <div class="galerieImage">
                        <img src="{{ asset('img/galerie/miniature/' ~ galerie.image) }}">
                    </div>
                {% endif %}

                <div class="galerieDate">
                    <p>{{ galerie.created|date("d/m/Y") }}</p>
                </div>

                <div class="galerieResume">
                    <p>{{ galerie.resume|truncate(120) }}</p>
                </div>

                <div class="galerieLien">
                    <a href="{{ path('client_diaporama_view',{'slug': galerie.slug, 'id': galerie.id})}}"><i class="fa fa-angle-right"></i> {{ 'diaporama.client.link.plus'|trans }}</a>
                </div>
            </div>
        {% else %}
            <p>{{ 'diaporama.client.validators.empty'|trans }}</p>
        {% endfor %}

        <div class="clear"></div>

    </div>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}