{% if galeries %}

    <div class="diaporamas">
        {% for galerie in galeries %}
            <div class="galerie">
                <div class="galerieTitre">
                    <h3><a href="{{ path('client_diaporama_view',{'slug': galerie.slug, 'id': galerie.id})}}">{{ galerie.titre|truncate(30) }}</a></h3>
                </div>

                {% if galerie.image %}
                    <div class="galerieImage">
                        <img src="{{ asset('img/galerie/miniature/' ~ galerie.image) }}">
                    </div>
                {% endif %}

                <div class="galerieDate">
                    <p>{{ galerie.created|date("d/m/Y") }}</p>
                </div>

                <div class="galerieResume">
                    <p>{{ galerie.resume|truncate(120) }}</p>
                </div>

                <div class="galerieLien">
                    <a href="{{ path('client_diaporama_view',{'slug': galerie.slug, 'id': galerie.id})}}"><i class="fa fa-angle-right"></i> Voir plus</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endif %}